<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
    Инфо о юзере, вход, регистрация..
  </div>
  <div>
    NavBar, корзина.
  </div>
  <div>Slader of Image</div>
    <div>
      Поиск по товарам 
    </div>
    <div>Content</div>
    <div>
      <Footer>
         <p>Developed by <a href="mailto:ivansimakovich@gmail.com">ivansimakovich@gmail.com</a></p>
      </Footer>
  </div>
  <div>
</div>
